<h1 class="text-primary">
    Gestión de Usuarios
</h1>
<c-row [xs]="12">
    <c-col [md]="9">
        <form cForm
            [formGroup]="simpleForm" 
            novalidate
        >
        <c-input-group class="mb-3">
            <input aria-describedby="search"
                   aria-label="Escribe el valor del campo por el que quieres filtrar"
                   cFormControl
                   formControlName="filtervalue" 
                   placeholder="Escribe el valor del campo por el que quieres filtrar"
                   (keydown.enter)="searchFilter()"
            />
            <button cButton 
                color="secondary" 
                id="search" 
                type="button" 
                variant="outline"
                (click)="searchFilter()"
                >
                <svg cIcon name="cilSearch"></svg>
            </button>
            <button cButton 
                color="primary"
                id="adduser" 
                type="button" 
                variant="outline"
                (click)="openModal(null)"
                >
                <svg cIcon name="cilPlus"></svg>
                Agregar Usuario
            </button>
          </c-input-group>
        </form>
    </c-col>
    <c-col [md]="3">
        <app-custom-pagination
            [data]="data"
            [routerPath]="'/usuario'"
        ></app-custom-pagination>
    </c-col>
</c-row>
<c-row [xs]="12">
    <c-col *ngIf="data && data.totalitems > 0">
        <table [striped]="true" cTable [hover]="true" class="text-center">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Log</th>
                  <th scope="col">Roles</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Correo</th>
                  <th scope="col">Estatus</th>
                  <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data.items; index as i">
                  <th scope="col">{{ i + 1 }}</th>
                  <td>{{ item.dni }}</td>
                  <td><span *ngFor="let rol of item.roles">{{rol.name}}&nbsp;</span></td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.email }}</td>
                  <td>
                    <c-badge [color]="item.status == 1 ? 'success' : 'danger'" >
                        {{item.status == 1 ? 'activo' : 'inactivo'}}
                    </c-badge>
                  </td>
                  <td class="text-nowrap">
                    <button
                        cButton
                        (click)="openModal(item)"
                    >
                        <svg cIcon name="cilPencil"></svg>
                    </button>
                    &nbsp;
                    <button
                        cButton
                        color="danger"
                        (click)="deleteuser(item)"
                    >
                        <svg cIcon name="cilDelete"></svg>
                    </button>
                  </td>
                </tr>
            </tbody>
        </table>
    </c-col>
</c-row>

<!-- Modals -->
<c-modal #usermodal
 id="usermodal" 
 alignment="center"
 [visible]="visible" 
 (visibleChange)="handleModalChange($event)"
 >
    <c-modal-header>
      <h5 cModalTitle>Información de Usuario</h5>
      <button [cModalToggle]="usermodal.id" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      <!-- ng-container *ngTemplateOutlet="longContent"></ng-container -->
      <form cForm 
      [formGroup]="userForm" 
      novalidate 
      >

      <c-tabs [activeItemKey]="0" >
        <c-tabs-list layout="justified" variant="tabs">
          <button cTab [itemKey]="0">General</button>
          <button cTab [itemKey]="1">Roles</button>
        </c-tabs-list>
        <c-tabs-content>
          <c-tab-panel class="p-3" [itemKey]="0" >
            <!-- General TAb Content -->
            <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                
                <input 
                formControlName="name" 
                cFormControl 
                placeholder="Nombre" 
                [valid]="name.touched && name.valid ? true : 
                name.touched && name.invalid ? false : undefined"
                />
                <c-form-feedback *ngIf="name.invalid" [valid]="!name.invalid">
                    <ng-container *ngIf="name.errors as errors">
                    <p *ngIf="errors['required']">El nombre no puede estar vacío</p>
                    </ng-container>
                </c-form-feedback>
              </c-input-group>
    
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilEnvelopeClosed"></svg>
                </span>
                
                <input 
                formControlName="email" 
                cFormControl 
                placeholder="ejemplo@ejemplo.com" 
                [valid]="email.touched && email.valid ? true : 
                email.touched && email.invalid ? false : undefined"
                />
                <c-form-feedback *ngIf="email.invalid" [valid]="!email.invalid">
                    <ng-container *ngIf="email.errors as errors">
                    <p *ngIf="errors['required']">correo no puede estar vacío</p>
                    <p *ngIf="errors['email']">Introduzca un correo válido</p>
                    </ng-container>
                </c-form-feedback>
              </c-input-group>

              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLocationPin   "></svg>
                </span>
                
                <input 
                formControlName="dni" 
                cFormControl 
                placeholder="Log usuario" 
                [valid]="loguser.touched && loguser.valid ? true : 
                loguser.touched && loguser.invalid ? false : undefined"
                />
                <c-form-feedback *ngIf="loguser.invalid" [valid]="!loguser.invalid">
                    <ng-container *ngIf="loguser.errors as errors">
                    <p *ngIf="errors['required']">correo no puede estar vacío</p>
                    </ng-container>
                </c-form-feedback>
              </c-input-group>

              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                  clave
                </span>
                
                <input 
                type="password"
                formControlName="password" 
                cFormControl 
                autocomplete="new-password" 
                [valid]="password.touched && password.valid ? true : 
                password.touched && password.invalid ? false : undefined"
                />

                <input 
                type="password"
                formControlName="passwordconfirmed" 
                cFormControl 
                autocomplete="new-password"
                [valid]="passwordconfirmed.touched && passwordconfirmed.valid ? true : 
                passwordconfirmed.touched && passwordconfirmed.invalid ? false : undefined"
                />

                <c-form-feedback *ngIf="passwordconfirmed.invalid" [valid]="!passwordconfirmed.invalid">
                    <ng-container *ngIf="passwordconfirmed.errors as errors">
                    <p *ngIf="errors['required']">El campo no puede estar en blanco</p>
                    <p *ngIf="errors['matchpass']">las claves no coinciden</p>
                    </ng-container>
                </c-form-feedback>
              </c-input-group>

              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLoopCircular"></svg>
                  Estatus
                </span>
                <select cSelect 
                formControlName="status"
                [valid]="status.touched && status.valid ? true : 
                status.touched && status.invalid ? false : undefined"
                >
                  <option>Selecciona Estatus</option>
                  <option [value]="1">Activo</option>
                  <option [value]="0">Inactivo</option>
                </select>

                <c-form-feedback *ngIf="status.invalid" [valid]="!status.invalid">
                    <ng-container *ngIf="status.errors as errors">
                    <p *ngIf="errors['required']">El campo no puede estar en blanco</p>
                    </ng-container>
                </c-form-feedback>
              </c-input-group>
            
          </c-tab-panel>
          <c-tab-panel class="p-3" [itemKey]="1" formArrayName="roles">
            <!-- Rols Tab Content -->
             <c-container *ngFor="let rolForm of roles.controls; index as i">
                    <c-form-check  >
                        <input cFormCheckInput 
                        type="checkbox" 
                        [id]="'id'+i" 
                        [formControlName]="i" 
                        [checked]="updateuser && updateuser.roles[i] && updateuser.roles[i].id == rollist[i].id"
                        />
                        <label cFormCheckLabel [for]="'id'+ i">{{ rollist[i].name }}</label>
                    </c-form-check>
            </c-container>
            
            
          </c-tab-panel>
        </c-tabs-content>
      </c-tabs>


          
      </form>
    </c-modal-body>
    <c-modal-footer>
      <button [cModalToggle]="usermodal.id" cButton color="secondary">
        Cerrar
      </button>
      <button cButton 
      [disabled]="!userForm.valid"
      color="primary" (click)="saveuser()">
        <svg cIcon class="me-2" name="cilSave"></svg>
        Guardar
      </button>
    </c-modal-footer>
  </c-modal>
