<c-row [xs]="12">
  <c-col md="4" class="d-grid" *ngIf="isAvailable(['Administrador'])">
    
      <a class="m-1" cButton color="primary" [routerLink]="['/usuario']">
        <svg cIcon class="me-2" name="cilUser"></svg>
        Usuarios Administrativos
      </a>
    
  </c-col>
  <c-col md="4" class="d-grid" *ngIf="isAvailable(['Administrador', 'Usuario'])">
    
      <a class="m-1" cButton color="success" [routerLink]="['/cliente']">
        <svg cIcon class="me-2" name="cilPeople"></svg>
        Clientes
      </a>
    
  </c-col>
  <c-col md="4" class="d-grid" *ngIf="isAvailable(['Administrador', 'Usuario'])">
    
      <a class="m-1" cButton color="warning" [routerLink]="['/consolidacion/consultar']">
        <svg cIcon class="me-2" name="cilBoatAlt"></svg>
        Consolidación
      </a>
    
  </c-col>
  <c-col md="4" class="d-grid" *ngIf="isAvailable(['Administrador', 'Usuario'])">
    
      <a class="m-1" cButton color="warning" [routerLink]="['/consolidacion/consultar']">
        <svg cIcon class="me-2" name="cilAirplaneMode"></svg>
        Reempaque
      </a>
    
  </c-col>
  <c-col md="4" class="d-grid" *ngIf="isAvailable(['Administrador', 'Usuario'])">
      <a class="m-1" cButton color="danger" [routerLink]="['/consolidacion/reempaque']" >
        <svg cIcon class="me-2" name="cilSearch"></svg>
        Buscar Por Tracking
      </a>
  </c-col>
  <c-col md="4" class="d-grid" *ngIf="isAvailable(['Administrador'])">
      <a class="m-1"
      cButton 
      color="dark" 
      [routerLink]="['/parametros']" >
        <svg cIcon class="me-2" name="cilSettings"></svg>
        Parametros
      </a>
  </c-col>
</c-row>