app-print-consolidacion-tracking {
    /* hide the printing component from @media screen */
    display: none;
  }

  @media print {
    /* invert the display (show/hide) properties of the main */
    /* aplication component and the printing component       */
  
    app-print-consolidacion-tracking {
      display: block;
    }
  
    div.main-app {
      display: none;
    }
    
    div.noprint-component {
        display: none; 
    }

  }