// Variable overrides
//
// If you want to customize your project please add your variables below.

$enable-deprecation-messages: false !default;

$primary : rgba(0,50,150,1);
$light : rgb(250, 184, 133); // consolidacion color table
